
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login & Signup</title>
<link rel="stylesheet" href="{{ url_for('static', filename='L&S.css') }}">
</head>
<body>

<div class="container">
  <div class="panel left">
    <h2>WELCOME!</h2>
    <p>Create an account and start your journey</p>
    <button id="signUpBtn">Sign Up</button>
  </div>

  <div class="panel right">
    <h2>WELCOME BACK!</h2>
    <p>Sign in to continue your journey</p>
    <button id="loginBtn">Login</button>
  </div>

  <div class="form-box">
    <!-- Login -->
    <form id="loginForm" class="form active" action="/login" method="POST">
      <h3>Login</h3>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>

    <!-- Signup -->
    <form id="signupForm" class="form" action="/signup" method="POST">
      <h3>Sign Up</h3>
      <input type="text" name="name" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Register</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='L&S.js') }}"></script>
</body>
</html>
